<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Phong and Hue</h2>
	<p> Phong, a dreamer, always think that the universe is for him. Hue, a crazy shopper,  <strong>thinks</strong> Phong's super funny, which she found and still finds somewhat endearing. They met in Tokyo on a freezing day in 2015.</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Phong and Hue they are both deeply in love each other, so marriage is the logical next step. 
	Phong and Hue are eager to start the next chapter of their lives together.</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>

