<!-- <div class="inner"> -->


  <!-- <header class="major"> -->
    <h2>Tiệc mừng Lễ Thành Hôn & Vu Quy!</h2>
    <br>
    <div style="float: left; width: 33%;">     
      <p>
	Tiệc Thành Hôn<br>
	Được tổ chức vào <br>
	16h ngày 16-03-2019 (11-02 Kỷ Hợi)
	09h ngày 17-03-2019 (12-02 Kỷ Hợi)
      </p>
      
      <p>
	             Tại tư gia nhà trai 
	số 14, phố Bình Minh, Thị Trấn Phú Thái
	      huyện Kim Thành, Hải Dương
      </p>      
      <p>
	<a target="_blank" href="https://calendar.google.com/calendar/r/day/2019/3/17?sf=true">Add this event to Google Calendar</a>
      </p>
      
    </div>
    <div style="float: right; width: 33%;">
      <p>
	Tiệc Vu Quy<br>
	Được tổ chức vào <br>
	16h ngày 16-03-2019 (11-02 Kỷ Hợi)
	09h ngày 17-03-2019 (12-02 Kỷ Hợi)
	</p>
	
	<p>
	         Tại tư gia nhà gái
	đội 12, thôn Dưỡng Mông, xã Ngũ Phúc
	      huyện Kim Thành, Hải Dương
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/calendar/r/day/2019/3/17?sf=true">Thêm vào Ghi nhớ</a>
	</p>
    </div>
    <div style="display: inline-block; width: 33%;">
      <p>
	Lễ Thành Hôn<br>
	Được tổ chức vào <br>
	12h ngày 17-03-2019 
	  (12-02 Kỷ Hợi)		
	</p>
	
	<p>
	Tại tư gia nhà trai 
	số 14, phố Bình Minh, Thị Trấn Phú Thái
	huyện Kim Thành, Hải Dương
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/calendar/r/day/2019/3/17?sf=true">Add this event to Google Calendar</a>
	</p>
    </div>
   	
	<p>Hãy lưu giữ những kỷ niệm với chúng tôi <strong>#HoangandLinh</strong></p>	
<!--  </header> -->
<!-- </div> -->
