<!-- <div class="inner"> -->


  <!-- <header class="major"> -->
    <h2>Come celebrate with us!</h2>
    <br>
    <div style="float: left; width: 33%;">     
      <p>
	October 5, 2018<br>
	Hung Lien Restaurant<br>
	To 6, Yen The Town, Luc Yen, Yen Bai	
      </p>
      
      <p>
	11:00 AM - Venue Opens<br>
	11:30 AM - Ceremony<br>
	12:00 AM - Party Hour<br>
	2:00 PM - 3:00 PM - Reception
      </p>      
      <p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MDRvdDVnZ2c3c2kycXRsa2xwYzUzNGMxMHYgaG9waG9uZ21jQG0&tmsrc=hophongmc%40gmail.com">Add this event to Google Calendar</a>
      </p>
      
    </div>
    <div style="float: right; width: 33%;">
      <p>
	October 19, 2018<br>
	Diamond Palace<br>
	91 Nguyen Chi Thanh, Hanoi
	</p>
	
	<p>
	11:30 AM - Venue Opens<br>
	12:00 AM - Ceremony<br>
	12:30 AM - Party Hour<br>
	2:00 PM - 3:00 PM - Reception
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NTl0Zm9pcjR0YXRtaW1xcXNqOTFuZ3ZnbG4gaG9waG9uZ21jQG0&tmsrc=hophongmc%40gmail.com">Add this event to Google Calendar</a>
	</p>
    </div>
    <div style="display: inline-block; width: 33%;">
      <p>
	October 7, 2018<br>
	Private Garden<br>
	Thon 9, Hai Xuan, Mong Cai, Quang Ninh			
	</p>
	
	<p>
	11:00 AM - Venue Opens<br>
	11:30 AM - Ceremony<br>
	12:00 PM - Party Hour<br>
	2:00 PM - 3:00 PM - Reception
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NjcyZjF1ZG8yN2RpZWw3Y2JrOTVjYm40ZXQgaG9waG9uZ21jQG0&tmsrc=hophongmc%40gmail.com">Add this event to Google Calendar</a>
	</p>
    </div>
   	
	<p>Share photos with the hashtag <strong>#WindandChip</strong></p>	
<!--  </header> -->
<!-- </div> -->
