<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>October 7, 2018</p>
    <div style="float: left; width: 33%;">
      <p>Private Garden<br>
	Thon 9, Hai Xuan, Mong Cai, Quang Ninh	
      </p>
      
      <p>
	10:00 AM - Venue Opens<br>
	11:00 AM - Ceremony<br>
	1:00 PM - Cocktail Hour<br>
	2:00 PM - 3:00 PM - Reception
      </p>
      
      <p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NjcyZjF1ZG8yN2RpZWw3Y2JrOTVjYm40ZXQgaG9waG9uZ21jQG0&tmsrc=hophongmc%40gmail.com">Add this event to Google Calendar</a>
      </p>
      
    </div>
    <div style="float: right; width: 33%;">
      <p>Private Garden<br>
      Thon 9, Hai Xuan, Mong Cai, Quang Ninh	
	</p>
	
	<p>
	10:00 AM - Venue Opens<br>
	11:00 AM - Ceremony<br>
	1:00 PM - Cocktail Hour<br>
	2:00 PM - 3:00 PM - Reception
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NjcyZjF1ZG8yN2RpZWw3Y2JrOTVjYm40ZXQgaG9waG9uZ21jQG0&tmsrc=hophongmc%40gmail.com">Add this event to Google Calendar</a>
	</p>
    </div>
    <div style="display: inline-block; width: 33%;">
      <p>Private Garden<br>
      Thon 9, Hai Xuan, Mong Cai, Quang Ninh	
	</p>
	
	<p>
	10:00 AM - Venue Opens<br>
	11:00 AM - Ceremony<br>
	1:00 PM - Cocktail Hour<br>
	2:00 PM - 3:00 PM - Reception
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NjcyZjF1ZG8yN2RpZWw3Y2JrOTVjYm40ZXQgaG9waG9uZ21jQG0&tmsrc=hophongmc%40gmail.com">Add this event to Google Calendar</a>
	</p>
    </div>
   	
	<p>Share photos with the hashtag <strong>#WindandChip</strong></p>	
  </header>
</div>
