<div class="inner">
  <header class="major">
    <h2>RSVP</h2>
<p></p>
<form method="POST" action="https://formspree.io/huephong8889@gmail.com">
  <input type="text" name="name" placeholder="Your name" style="background: #d5f0fb"/>
  <input style="background: #d5f0fb; margin-top: 4px" name="email" placeholder="Your email" type="email">
  <textarea name="message" placeholder="Let us know if you can come and who's coming!" style="background: #d5f0fb; margin-top: 4px"></textarea>
  <br>
  <button type="submit" style="background: #d5f0fb">RSVP</button>
    </form>       
  </header>
</div>
